Repository pulp/pulp_rpm, pull requests merged in 2019-07, with the labels that each got.

#1386 Add missing release notes
  CHANGES/4117.misc
  CHANGES/4503.feature
  CHANGES/4567.misc
  CHANGES/4574.misc
  CHANGES/4591.feature
  CHANGES/4716.feature
  CHANGES/4835.bugfix
  CHANGES/4909.bugfix
  CHANGES/4916.bugfix
Labels: Documentation

#1389 Remove "lazy" terminology from the docs
  docs/index.rst
  docs/quickstart.rst
Labels: Documentation

#1388 Refactor part 3
  plugins/pulp_rpm/plugins/importers/yum/pulp_solv.py
Labels: Pulp 2, enhancement

#1395 Add towncrier generated release notes for 3.0.0b4
  CHANGES.rst
  CHANGES/4117.misc
  CHANGES/4503.feature
  CHANGES/4567.misc
  CHANGES/4574.misc
  CHANGES/4591.feature
  CHANGES/4716.feature
  CHANGES/4835.bugfix
  CHANGES/4875.doc
  CHANGES/4902.feature
  CHANGES/4909.bugfix
  CHANGES/4916.bugfix
  CHANGES/4960.doc
  CHANGES/4960.feature
  CHANGES/5064.misc
  CHANGES/5065.feature
Labels: Documentation

#1401 Refactor 4 + Fix KeyError
  plugins/pulp_rpm/plugins/importers/yum/associate.py
  plugins/pulp_rpm/plugins/importers/yum/pulp_solv.py
Labels: Pulp 2, bugfix

#1406 Re-introduce workaround for mongoengine bug
  plugins/pulp_rpm/plugins/importers/yum/pulp_solv.py
Labels: Pulp 2, bugfix

#1407 Add support for multiple input repositories to the solver
  plugins/pulp_rpm/plugins/importers/yum/associate.py
  plugins/pulp_rpm/plugins/importers/yum/pulp_solv.py
Labels: Pulp 2, enhancement
