Repository pulp/pulp_rpm, pull requests merged in 2019-05, with the labels that each got.

#1335 Perform sync even on metadata change only
  common/pulp_rpm/common/constants.py
  plugins/pulp_rpm/plugins/importers/yum/repomd/metadata.py
  plugins/pulp_rpm/plugins/importers/yum/sync.py
  plugins/test/unit/plugins/importers/yum/test_sync.py
Labels: Pulp 2, bugfix

#1337 Skip zchunk metadata at sync time
  docs/tech-reference/rpm.rst
  plugins/pulp_rpm/plugins/importers/yum/sync.py
Labels: Pulp 2, bugfix

#1334 Add exapmles to clarify errata advanced copy cases
  docs/user-guide/features.rst
Labels: Documentation, Pulp 2

#1342 Always copy module with its artifacts
  docs/user-guide/features.rst
  docs/user-guide/release-notes/2.19.x.rst
  plugins/pulp_rpm/plugins/importers/yum/associate.py
Labels: Pulp 2, bugfix

#1350 Make it possible to list modules via "pulp-admin rpm content ..."
  extensions_admin/pulp_rpm/extensions/admin/contents.py
  extensions_admin/pulp_rpm/extensions/admin/rpm_repo/pulp_cli.py
Labels: Pulp 2, enhancement

#1357 Fix docs for how to get a publication href
  docs/workflows/create_sync_publish.rst
Labels: Documentation

#1347 Problem: yum_repo_metadata_file cannot be updated.
  plugins/pulp_rpm/plugins/importers/yum/upload.py
Labels: Pulp 2, bugfix
