Repository pulp/pulp_rpm, pull requests merged in 2019-02, with the labels that each got.

#1261 Fix: Recursive copy doesn't solve rich dependencies
  extensions_admin/pulp_rpm/extensions/admin/copy_commands.py
  plugins/pulp_rpm/plugins/importers/yum/pulp_solv.py
Labels: bugfix

#1260 Use new specialized serializers
  docs/workflows/upload.rst
  docs/workflows/use_pulp_repo.rst
  pulp_rpm/app/models.py
  pulp_rpm/app/serializers.py
  pulp_rpm/app/viewsets.py
  pulp_rpm/tests/functional/api/test_character_encoding.py
  pulp_rpm/tests/functional/api/test_crud_content_unit.py
Labels: 3.0

#1273 Verify HTTP exception when uploading nonutf8 rpm
  pulp_rpm/tests/functional/api/test_character_encoding.py
Labels: 3.0, Tests

#1274 Modify test layout BasicSyncTestCase
  pulp_rpm/tests/functional/api/test_sync.py
Labels: 3.0, Tests

#1275 Add test to sync/publish DRPM/SRPM
  pulp_rpm/tests/functional/api/test_publish.py
  pulp_rpm/tests/functional/constants.py
Labels: 3.0, Tests

#1271 Customize and use DeclarativeVersion provided by pulpcore-plugin
  pulp_rpm/app/tasks/synchronizing.py
Labels: 3.0, enhancement

#1278 Use Hyphens for Pulp3 systemd units name.
  .travis/script.sh
  docs/installation.rst
Labels: 3.0

#1283 Add test to sync EPEL repository
  pulp_rpm/tests/functional/api/test_sync.py
  pulp_rpm/tests/functional/constants.py
Labels: 3.0, Tests

#1282 Add test to publish a lazy synced repo
  pulp_rpm/tests/functional/api/test_download_policies.py
Labels: 3.0, Tests
