Repository pulp/pulp_rpm, pull requests merged in 2019-06, with the labels that each got.

#1369 ISO repo copy can lead to a duplicates in a target repo and corrupted…
  plugins/pulp_rpm/plugins/importers/iso/importer.py
  plugins/test/unit/plugins/importers/iso/test_importer.py
Labels: Pulp 2, bugfix

#1368 Use new RPMTAG_MODULARITYLABEL to identify modular RPMs
  common/pulp_rpm/common/constants.py
  plugins/pulp_rpm/plugins/importers/yum/parse/rpm.py
Labels: Pulp 2, bugfix

#1372 Fix serializer for erratum pkglists
  plugins/pulp_rpm/plugins/serializers.py
Labels: Pulp 2, bugfix

#1375 Refactor depsolving part 2 (part of bugfix)
  plugins/pulp_rpm/plugins/importers/yum/pulp_solv.py
Labels: Pulp 2

#1382 Add 2.20.0 release notes
  docs/user-guide/release-notes/2.20.x.rst
  docs/user-guide/release-notes/index.rst
Labels: Documentation, Pulp 2
